/* -----------------TITLE AND SEARCH BOX---------------- */
body{
    background-color: #f0f4fa;
}
html{
    /* makes the page scroll smoothly to navbar content instead of instantly jumping there */
    scroll-behavior: smooth;
}
.headerContainer{
    display: flex;
    align-items: center; /* centers things vertically */
    padding: 10px 20px;
    margin-bottom: 20px;
}
#header{
    font-size: 25px;
    font-family: 'Papyrus', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
#header:hover{
    cursor: pointer;
}
#search{
    width: 80%;
    height: 3vh;
    border-radius: 15px;
    background-color: #f4f4f4;
    margin-left: 13%;
}
#button{
    height: 3.5vh;
    cursor: pointer;
    border-radius: 15px;
}
.searchbox{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 40px;
}
/* -------------------------FILTER--------------------  */
.filter-btn:hover, .filter-btn:focus{
    background-color: #ddd;
}
.filter-btn{
    width: 110%;
    border-radius: 15px;
}
.dropdown{
    position: relative;
    display: inline-block;
    border-radius: 15px;
}
#dropdown div{
    padding: 10px;
    text-decoration: none;
    color:  black;
}
#dropdown div:hover{
    background-color: #ddd;
    cursor: pointer;
}
.filter-options{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show{
    display: block;
}
.show a{
    display: block;
}
@media (max-width: 768px){
    #headerContainer{
        flex-direction: column;
    }
    #search{
        width: auto;
    }
}
/* -------------------------TOP 100-------------------- */
#topsellers{
    width: 100%;
    margin-left: 30px;
    height: 20vh;
}
.displayItem{
    display: inline-block;
    background-color: black;
    width: 12%;
    height: 10vh;
    margin-right: 15px;
    border-radius: 15px;
    text-align: center;
}
.section-body{
    display: flex;
}
.top-display{
    overflow-x: auto;
    display: block;
}
/* --------------------SEARCH DISPLAY------------------ */
.bookContainer{
    margin: 0 3%;
    width: 88%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}
.book{
    display: flex;
    border-radius: 15px;
    background-color: #f0f4fa;
    margin: 0.75% 0;
    width: 100%;
}
.book-info{
    margin: 0 10px;
}
.book-info a{
    text-decoration: none;
    color: black;
}
#search-results{
    display: none;
    width: 88%;
    padding-left: 15%;
}
/* ------------------------NAVBAR-------------------- */
.navbar{
    display: flex;
    border-right: 1px solid #ddd;
    top: 0;
    width: 14%;
    height: 100%;
    position: fixed;
}
li{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    padding: 10px;
    border-radius: 10px;
}
#active a{
    background-color: black;
    color: white;
}
.nav-item a:hover{
    background-color: #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar h3 {
    font-size: 20px;
}
.nav-item {
    padding: 5px 15px;
    margin-bottom: 10px;
}
/* --------------------------BESTSELLERS CONTAINER-------------------------- */
#topsellers{
    width: 80%;
    padding-left: 15%;
}
.genre-container{
    display: flex;
    flex-wrap: wrap;
}
.bestseller-book{
    display: block;
    border-radius: 15px;
    margin: 0.5% 0.75%;
    width: 50%;
}
.bestseller-book img{
    height: 60%;
    width: 85%;
    align-self: center;
}
.bestseller-book p{
    margin: 10px;
    font-size: 14px;
    white-space: wrap;
}
.nyt-books{
    display: flex;
    width: 100%;
}
.search-bestsellers-a{
    text-decoration: none;
    color: black;
}
.search-bestsellers-a:hover{
    font-size: 15px;
}